:root {
  --primery-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --background-team-color: #f5f4fa;
  --border-text: #eeeeee;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
}

li {
  list-style-type: none; /* Убираем маркеры */
}

.list {
  padding: 0;
  margin: 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header-box {
  display: flex;
  margin-left: auto;
}
.page-header {
  border-bottom: 1px solid #ececec;
}
.section-box {
  padding-top: 94px;
}
.header {
  margin: 0;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway;

  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.studio {
  color: var(--primery-text-color);
}

.nav-list .logo-text {
  text-decoration: none;
  color: #212121;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.nav-list {
  display: flex;
  align-items: center;
}
.nav-list a {
  display: block;
  padding-bottom: 24px;
  padding-top: 24px;

  color: var(--primery-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  transition: color 250ms var(--timing-function);
}

.menu-link-activ {
  position: relative;
  display: block;
}
.menu-link-activ::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -9px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: tomato;
  border-radius: 2px;
  background: var(--accent-color);

  transition: opacity 250ms var(--timing-function);
}
.menu-link:hover::after,
.menu-link:focus::after {
  opacity: 1;
}

.nav-list .menu-link:hover,
.nav-list .menu-link:focus {
  color: var(--accent-color);
}
.list-text {
  display: flex;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.list-text .item {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.list-text a {
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.list-text .button:hover,
.list-text .button:focus {
  color: var(--accent-color);
}
.button:hover svg,
.button:focus svg {
  fill: var(--accent-color);
}

.container-box {
  max-width: 1600px;
  height: 600px;
  background: #2f303a;
  text-align: center;
  padding: 200px 0;
  margin: 0 auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-color: #000000;
}

.section-content {
  padding-top: 94px;
}
.section-team {
  background: var(--background-team-color);
  padding-bottom: 94px;
  padding-top: 94px;
}

section .section-box {
  padding-top: 94px;
}
.title-box {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 696px;
  text-align: center;
}

.btn-box {
  color: var(--white-color);
  background: #2196f3;
  font-weight: 700;
  font-size: 16px;
  font-family: inherit;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border: none;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.section-box h3 {
  color: var(--primery-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.section-box p {
  color: var(--title-text-color);
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-bottom: 0;
}
h2.text {
  color: var(--primery-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

.subtitle-text h3 {
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 10px;
}
.subtitle-text p {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  margin: 0;
}
.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.adress p {
  color: var(--white-color);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-top: 0;
}
.list-adress {
  padding: 0;
  margin: 0;
}

.list-adress a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

/* PORTFOLIO DECORATION */

.section-pic {
  padding-top: 94px;
  padding-bottom: 94px;
}

.desc-list {
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin: 0;
  margin-bottom: 50px;
}

.desc-list button {
  background: #f5f4fa;
  border: none;
  color: var(--primery-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  font-family: inherit;
  padding: 6px 22px;
  border-radius: 4px;
  margin-right: 8px;
  transition: background 250ms var(--timing-function),
    color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.desc-list button:hover,
.desc-list button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgb(0 0 0 / 10%), 0px 1px 2px rgb(0 0 0 / 8%),
    0px 2px 2px rgb(0 0 0 / 12%);
}

.subtitle-text {
  display: flex;
  text-align: center;
  margin-top: 0;
  padding: 0;
  margin-bottom: 0;
}
.subtitle-text .people-list {
  padding-top: 30px;
  padding-bottom: 30px;
}

.subtitle-text .people {
  display: block;
  max-width: 100%;
}
.section-pic-list h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--primery-text-color);
  margin: 0;
}
.section-pic-list p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin: 0;
}

.logo-tex-footer {
  display: inline-block;
  padding-bottom: 20px;

  color: var(--white-color);
  font-family: Raleway;
  text-decoration: none;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
#link-curent {
  color: var(--accent-color);
}

.list-menu {
  display: flex;
  margin-left: 93px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.list-text {
  display: flex;
  margin-left: auto;
  padding: 0;
}

.list-text .item + .item {
  margin-left: 50px;
}

.list-menu .item {
  margin-right: 50px;
}

.list-menu .item:last-child {
  margin-right: 0;
}

.hidden {
  display: none;
}
.attention-list {
  display: flex;
  margin: 0;
  padding: 0;
}
.attention-list .item {
  margin-right: 30px;
  width: 270px;
}

.attention-list .item:last-child {
  margin-right: 0;
}
.foto-list {
  display: flex;
  padding-top: 0;
  padding: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 0;
}
.foto-list .item {
  margin-right: 30px;
}
.foto-list .item:last-child {
  margin-right: 0;
}

.thumb {
  position: relative;
}
.thumb-card {
  align-items: center;
  justify-content: center;
  display: flex;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}
.thumb-card .thumb-card-text {
  color: var(--white-color);
  font-family: Roboto;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.subtitle-text .item {
  margin-right: 30px;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.subtitle-text .item:last-child {
  margin-right: 0;
}

/* Portfolio flex-box */

.section-pic-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: -30px;
  margin-left: -30px;
}

.section-pic-list > .item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}
.pic-link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms var(--timing-function);
}

.pic-link:hover,
.pic-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.thumb-pic {
  position: relative;
  overflow: hidden;
}

.thumb-pic::before {
  display: inline-block;
}

.thumb-text {
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);

  position: absolute;
  top: 0;
  left: 0;

  padding: 63px 24px;
  display: inline-block;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
}

.thumb-text .text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.pic-link:hover .thumb-text,
.pic-link:focus .thumb-text {
  transform: translateY(0);
}

.item .item-text {
  border-right: 1px solid var(--border-text);
  border-bottom: 1px solid var(--border-text);
  border-left: 1px solid var(--border-text);
  padding: 20px 24px;
}

.button-icon {
  margin-right: 10px;
  fill: var(--title-text-color);
  transition: fill 250ms var(--timing-function);
}

.contact-icon {
  margin-right: 10px;
  fill: var(--title-text-color);
  transition: fill 250ms var(--timing-function);
}

.button:hover .button-icon {
  fill: var(--accent-color);
}
.button:hover .contact-icon {
  fill: var(--accent-color);
}

.item .button {
  display: flex;
  align-items: center;
  transition: color 250ms var(--timing-function);
}

.item .icon-item {
  background: #f5f4fa;
  border-radius: 4px;
  padding: 25px 102px;
}
.list-icon-team {
  fill: var(--primery-text-color);
}

/* social link */


.social-icon {
  margin: 0;
  display: flex;
  margin-top: 16px;
  padding: 0;
  justify-content: center;
}

.social-link {
  width: 44px;
  height: 44px;
  background-color: var(--white-color);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms var(--timing-function);
}
.social-link:hover .list-icon,
.social-link:focus .list-icon {
  fill: var(--white-color);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}
.social-link:last-child {
  margin-right: 0;
}
.list-icon {
  fill: #afb1b8;
  transition: fill 250ms var(--timing-function);
}

/*************************
           company 
 *****************************/

.section-company {
  padding: 94px 0 94px 0;
}

.company-box {
  padding: 0;
  margin: 0;
  display: flex;
}
.company-list {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}
.company-link {
  fill: #afb1b8;
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms var(--timing-function);
}
.company-box .company-link:last-child {
  margin-right: 0;
}
.company-list:last-child {
  margin-right: 0;
}
.company-icon {
  fill: #afb1b8;
  transition: fill 250ms var(--timing-function);
}
.company-link:hover .company-icon,
.company-link:focus .company-icon {
  fill: var(--accent-color);
}
.company-link:hover,
.company-link:focus {
  border: 1px solid #2196f3;
}

.join-color {
  color: var(--white-color);
  margin: 0;
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-list {
  display: flex;
  margin: 0;
  padding: 0;
}
.social-icon-footer {
  margin-left: 70px;
}

.join-link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms var(--timing-function);
}
.join-link:hover .join-icon,
.join-link:focus .join-icon {
  fill: var(--white-color);
}
.join-link:hover,
.join-link:focus {
  background-color: var(--accent-color);
}
.join-link:last-child {
  margin-right: 0;
}
.join-icon {
  fill: var(--white-color);
}

.footer-link {
  margin-right: 10px;
}

.footer-link:last-child {
  margin-right: 0;
}

/* Modal icon */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 2250ms var(--timing-function),
    visibility 2250ms var(--timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;
  background-color: rgba(255, 255, 255, 1);

  transform: translate(-50%, -50%);
}
.close-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill 250ms var(--timing-function);
}

.close-icon:hover,
.close-icon:focus {
  fill: var(--accent-color);
}

/**************************
***************************
***************************
 ******* Modal form********* 
 ***************************
 ****************************/

.backdrop-form {
  width: 448px;
  margin: 0 auto;
}

.form-field {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.form-textarea {
  margin-bottom: 20px;
}
.form-field .form-input {
  margin: 0;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  width: 448px;
  height: 40px;
  transition: border 250ms var(--timing-function);
}

.form-icon {
  position: relative;
}
.form-icon .icon {
  position: absolute;
  display: inline-block;
  transform: translateY(100%);
  margin-left: 15px;
  transition: fill 250ms var(--timing-function);

  top: 0;
  left: 0;
}
.form-input:hover,
.form-input:focus {
  border-color: var(--accent-color);
}
.form-icon:hover > .icon,
.form-icon:focus > .icon {
  fill: var(--accent-color);
}


.form-field:focus-within .icon {
  fill: var(--accent-color);
}

/* .form-field .form-field-lable {
  margin-bottom: 4px;
} */
textarea {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.form-field input::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.group-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  margin-top: 40px;
  margin-bottom: 12px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 40px;
  color: var(--primery-text-color);
}

.form-field .check-text {
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
.check-label-text {
  color: var(--accent-color);
}
.form-btn {
  text-align: center;
  margin-bottom: 40px;
}

.form-btn .form-btn-text {
  padding: 10px 55px;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
/* ****************************
**********Footer form**********
*******************************
******************************* */

.footer-form {
  margin-left: 93px;
}
.footer-form input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  color: #ffffff;
}
.footer-form input::placeholder {
  padding: 15px 0 15px 16px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.btn-box-form {
  display: inline-flex;
  color: var(--white-color);
  background: #2196f3;
  font-weight: 700;
  font-size: 16px;
  font-family: inherit;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border: none;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.icon-form {
  margin-left: 10px;
}
.form-field-lable {
  margin-bottom: 4px;
  color: var( --title-text-color);
}

/* ****************************
**********Chekbox**********
*******************************
******************************* */

.checkbox {
  -webkit-appearance: none;
}

.icon-check {
  display: inline-block;
  content: "";
  width: 15px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  
}
.check-text {
  font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: var( --title-text-color);

}
.checkbox:checked + .icon-check {
  background-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  border-color: var(--accent-color);
  background-size: contain;
  background-repeat: no-repeat;
  
  /* background-origin: border-box; */
}

.checkbox-labele {
  margin-bottom: 30px;
}

.checkbox:focus + .icon-check {
  border-color: var(--accent-color);
}